.mt-2 {
  margin-top: 2rem;
}
.mt-3 {
  margin-top: 3rem;
}
.mt-4 {
  margin-top: 4rem;
}

.error-container {
  border-left:  solid .5rem #b20f1e;
  background-color: #fff2f2;
  padding:1rem;
  margin: .5rem 0;
}

.warning-container {
  border-left:  solid .5rem #f6b93c;
  background-color: #fff3cd;
  padding:1rem;
  margin: .5rem 0;
}



.sc-list {
  border-left:  solid .5rem #00713c;
  background-color: #edfdf6;
  padding: .75rem;
  display: inline-block;
}

.sc-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

.example {
  padding:1rem;
  background-color: #f3f4f6;
  border:1px solid #d2d5db;
}

.example p {
  margin: 0 0 1rem 0;
}

.quirks h3 {
  font-weight: bold;
  font-size: 1rem;
}

footer {
  margin-top: 4rem;
  padding: 1rem;
  border-top: 1px solid #d2d5db;
  font-style: italic;
  font-size: .8rem;
}


/*  Taken from: https://css-tricks.com/inclusively-hidden/ */
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}
