

.sc-list {
  border-left:  solid .5rem #00713c;
  background-color: #edfdf6;
  padding: .75rem;
  display: inline-block;
}

.sc-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

.example {
  padding:1rem;
  background-color: #f3f4f6;
  border:1px solid #d2d5db;
}

.example p {
  margin: 0 0 1rem 0;
}

.quirk-heading {
  margin-top: 3rem;
  font-size: 1.2rem;
}

.quirk {
  border-left:  solid .5rem #b20f1e;
  background-color: #fff2f2;
  padding:1rem;
  margin: .5rem 0;
}

footer {
  margin-top: 4rem;
  padding: 1rem;
  background-color: #f5f8fe;
  border-top: 1px dashed #d2d5db;
}


/*  Taken from: https://css-tricks.com/inclusively-hidden/ */
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}
